<!-- View for creating data that only requires name -->

<h1><%= title %></h1>

<form method="post">
  <div>
    <label for="name"><%= label %></label>

    <input
      type="text"
      name="name"
      id="name"
      placeholder="<%= placeholder %>"
      required
    />

    <% if (errors) { %>
    <ul class="input-errors">
      <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
  </div>

  <button type="submit">Salvar</button>
</form>
