<h1>Desenvolvedores</h1>

<a href="/desenvolvedor/criar" class="button-link floating">
  Adicionar desenvolvedor
</a>

<ul class="main-list">
  <% allDevelopers.forEach(function (dev) { %>
  <li>
    <a href="<%= dev.url %>"><%= dev.name %></a>
  </li>
  <% }) %>
</ul>
