<h1><%= developer.name %></h1>

<h2>Jogos do desenvolvedor:</h2>

<ul class="cards-list">
  <% allGames.forEach(function (game) { %>
  <li>
    <a href="<%= game.url %>">
      <div class="game-cover-template"></div>

      <div>
        <p><b><%= game.title %></b></p>
        <p class="small"><%= game.allGenres %></p>
      </div>
    </a>
  </li>
  <% }) %>
</ul>
