<h1>Jogos</h1>

<ul class="products-list">
  <% allGames.forEach(function (game) { %>
  <li>
    <a href="<%= game.url %>">
      <div class="game-cover-template"></div>

      <div class="product-details">
        <p><b><%= game.title %></b></p>
        <p class="small"><%= game.developer.name %></p>
        <p class="small"><%= game.allGenres %></p>
      </div>
    </a>
  </li>
  <% }) %>
</ul>
