<h1><%= game.title %></h1>

<div class="product-info">
  <div class="game-cover-template-lg"></div>

  <div class="details">
    <p><b>Desenvolvedor: </b><%= game.developer.name %></p>
    <p><b>Gênero(s): </b><%= game.allGenres %></p>
    <p><b>Descrição: </b><%= game.description %></p>

    <div class="buttons-container">
      <a class="button-link" href="#">Criar produto a partir deste jogo</a>
      <a class="button-link" href="#">Editar</a>
      <a class="button-link" href="#">Apagar</a>
    </div>
  </div>
</div>
