<h1>Gêneros</h1>

<a href="/genero/criar" class="button-link floating">
  Adicionar gênero
</a>

<ul class="main-list">
  <% allGenres.forEach(function (genre) { %>
  <li>
    <a href="<%= genre.url %>"><%= genre.name %></a>
  </li>
  <% }) %>
</ul>
