<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>GameStore</title>
  </head>
  <body>
    <header>
      <div class="logo">GameStore</div>
      <button type="button" class="open-nav" title="Abrir menu de navegação">
        <img src="/images/menu-hamburger.svg" class="menu-hamburger" />
        <img src="/images/menu-chocolate.svg" class="menu-chocolate" />
      </button>

      <nav>
        <p>Navegação</p>

        <ul>
          <li>
            <a href="/instancias">
              <img src="" />
              <span>Instancias</span>
            </a>
          </li>
          <li>
            <a href="/produtos">
              <img src="" />
              <span>Produtos</span>
            </a>
          </li>
          <li>
            <a href="/jogos">
              <img src="" />
              <span>Jogos</span>
            </a>
          </li>
          <li>
            <a href="/desenvolvedores">
              <img src="" />
              <span>Desenvolvedores</span>
            </a>
          </li>
          <li>
            <a href="/generos">
              <img src="" />
              <span>Generos</span>
            </a>
          </li>
          <li>
            <a href="/plataformas">
              <img src="" />
              <span>Plataformas</span>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <div id="content"><%- body %></div>
  </body>
</html>
