<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>GameStore</title>
  </head>
  <body>
    <header>
      <a class="logo" href="/"> GameStore </a>

      <button
        type="button"
        class="toggle-nav open-nav"
        title="Abrir menu de navegação"
      >
        <img src="/images/menu-hamburger.svg" class="menu-hamburger" />
        <img src="/images/menu-chocolate.svg" class="menu-chocolate" />
      </button>

      <button type="button" class="toggle-nav close-nav hidden">
        <img src="/images/close.svg" class="menu-close" />
      </button>
    </header>

    <nav class="hidden">
      <p class="nav-title">Navegação</p>

      <ul>
        <li>
          <a href="/instancias">
            <img src="/images/instance.svg" />
            <span>Instancias</span>
          </a>
        </li>
        <li>
          <a href="/produtos">
            <img src="/images/product.svg" />
            <span>Produtos</span>
          </a>
        </li>
        <li>
          <a href="/jogos">
            <img src="/images/game.svg" />
            <span>Jogos</span>
          </a>
        </li>
        <li>
          <a href="/desenvolvedores">
            <img src="/images/developer.svg" />
            <span>Desenvolvedores</span>
          </a>
        </li>
        <li>
          <a href="/generos">
            <img src="/images/genre.svg" />
            <span>Generos</span>
          </a>
        </li>
        <li>
          <a href="/plataformas">
            <img src="/images/platform.svg" />
            <span>Plataformas</span>
          </a>
        </li>
      </ul>

      <p class="app-credits">
        Construído por:
        <a href="https://diegomoreira.vercel.app/" target="_blank"
          >Diego Moreira</a
        >
        em 2024.
      </p>
    </nav>

    <div id="content"><%- body %></div>

    <script>
      const nav = document.querySelector("nav");
      const openNavBtn = document.querySelector("button.open-nav");
      const closeNavBtn = document.querySelector("button.close-nav");

      openNavBtn.addEventListener("click", () => {
        if (nav.classList.contains("hidden")) {
          window.scrollTo({ top: 0 });
          nav.classList.remove("hidden");
          openNavBtn.classList.add("hidden");
          closeNavBtn.classList.remove("hidden");
        }
      });

      closeNavBtn.addEventListener("click", () => {
        if (!nav.classList.contains("hidden")) {
          nav.classList.add("hidden");
          openNavBtn.classList.remove("hidden");
          closeNavBtn.classList.add("hidden");
        }
      });
    </script>
  </body>
</html>
