<h1>Plataformas</h1>

<a href="/plataforma/criar" class="button-link floating">
  Adicionar plataforma
</a>

<ul class="big-list">
  <% allPlatforms.forEach(function (platform) { %>
  <li>
    <a href="<%= platform.url %>"><%= platform.name %></a>
  </li>
  <% }) %>
</ul>
