$header-height: 66px;

@mixin switch-menu-icon {
  .menu-hamburger {
    display: none;

    @media (max-width: $display-lg) {
      display: block;
    }
  }

  .menu-chocolate {
    display: block;

    @media (max-width: $display-lg) {
      display: none;
    }
  }
}

body {
  background-color: $bg;
  min-height: 100dvh;

  header {
    background-color: $bg;

    position: sticky;
    top: 0;

    height: $header-height;
    border-bottom: 2px solid #bbb;
    padding: 0 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    a.logo {
      color: $text;
      font-size: 1.25rem;
      font-weight: bold;
      text-decoration: none;
    }

    button.toggle-nav {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 2rem;
      height: 2rem;

      background-color: transparent;
      border: none;

      @include switch-menu-icon();
    }
  }

  #content {
    padding: 0 1rem 10rem 1rem;
  }
}
