.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @media (min-width: $display-lg) {
    flex-direction: row;
  }

  .details {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;

    @media (min-width: $display-lg) {
      text-align: left;
    }

    @media (min-width: $display-lg) {
      justify-content: start;
    }
  }
}
