$display-lg: 768px;
$content-x-padding: 1rem;

@import "colors";
@import "reset";
@import "layout";
@import "texts";
@import "buttons";
@import "forms";
@import "tables";
@import "big-list";
@import "cards";
@import "product-info";
@import "game-cover-template";

// Hidden elements
.hidden {
  display: none !important;
}
