$display-lg: 768px;

@mixin hover-effects {
  transition: transform 100ms ease-in-out;

  &:hover {
    border: 1px solid $text;
    transform: scale(1.025);
  }
}

@import "reset";
@import "colors";
@import "texts";
@import "layout";
@import "nav";
@import "buttons";
@import "forms";
@import "tables";
@import "big-list";
@import "cards";
@import "product-info";
@import "game-cover-template";

// Hidden elements
.hidden {
  display: none !important;
}
