$text: #0c0e00;
$bg: #fcfff4;
$primary: #c7f910;
$secondary: #74fb93;
$accent: #9effd7;
$ok: #8de203;
$warning: #f9c610;
$danger: #ff3c21;

$display-lg: 768px;
$content-x-padding: 1rem;

:root {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}

// Reset
* {
  margin: 0;
  padding: 0;
}

// Layout
body {
  background-color: $bg;
  min-height: 100dvh;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #bbb;
    padding: 1rem;

    .logo {
      font-weight: bold;
    }

    button.open-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      $size: 2rem;
      width: $size;
      height: $size;
      border: none;

      .menu-hamburger {
        display: none;
        @media (max-width: $display-lg) {
          display: block;
        }
      }

      .menu-chocolate {
        display: block;
        @media (max-width: $display-lg) {
          display: none;
        }
      }
    }
  }

  #content {
    padding: 0 $content-x-padding 3rem $content-x-padding;
  }
}

// Texts
h1 {
  font-size: 2rem;
  margin: 2rem 0 1.5rem 0;
}
h2 {
  font-size: 1.75rem;
  margin: 1.75rem 0 1.25rem 0;
}
h3 {
  font-size: 1.5rem;
  margin: 1.5rem 0 1rem 0;
}
h1,
h2,
h3 {
  text-align: center;
}

// Buttons
button {
  cursor: pointer;
}

// Tables
table {
  border-spacing: 0;
  margin: 0 auto;

  tr:hover {
    background-color: $accent;
  }

  th {
    background-color: $primary;
  }

  th,
  td {
    max-width: 15rem;

    border: none;
    border-bottom: 1px solid $text;
    padding: 0.5rem 1rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }
}

.table-container {
  max-width: calc(100% - $content-x-padding);
  overflow-x: auto;
}
